$red: red;
$green: green;
$blue: blue;
$yellow: yellow;
$skyblue: skyblue;
$pink: pink;
$grey: grey;
$light-red: rgb(212, 111, 111);
$black: black;
$white: white;
$light-grey: rgb(240, 234, 234);
$light-black: rgb(139, 126, 126);

$primary: teal;
$error: $light-red;
$warn: orange;
$disabled: $light-grey;
